
body {
    margin : 30px;
    padding: 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-y: hidden;
    overflow-x: hidden;
    background: rgb(255, 255, 255);
    }

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 500px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: 15px 50px 30px 5px;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #ffffff;
  color: rgb(255, 255, 255);
}

/* Style the back side */
.flip-card-back {
  background-color: rgb(38, 76, 182);
  color: white;
  transform: rotateY(180deg);
}

.githublink:hover {
    color: white;
}