@font-face {
  font-family: 'Persona3';
  src: url('../../fonts/BMSPA___.TTF') format('truetype');
}

p {
  font-family: 'Persona3', sans-serif;
}

:root {
    --primary-color: #79d7fd;
    --secondary-color: #00bbfa;
    --third-color: #001736;
    --text-color: #00183e;
    --main : #ffc54a;
}

.dark-mode {
    --primary-color: rgb(255, 152, 183);
    --secondary-color: rgb(116, 1, 39);
    --third-color: rgb(189, 47, 89);
    --text-color: #dadada;
    --main : white;
}

body {
    margin : 0px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    overflow-x: hidden;
    background: var(--third-color);
    }

div.ui-menu li {
  list-style: none;

}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  text-align: center;
}

/* buttons */
.work-button:hover{
  background-color: var(--primary-color);
  font-size: 17px;
  border-radius: 15px;
  cursor: pointer;
}


.home-button:hover{
  background-color: var(--primary-color);
  font-size: 17px;
  border-radius: 15px;
  cursor: pointer;
}

.about-button:hover{
  background-color: var(--primary-color);
  font-size: 17px;
  border-radius: 15px;
  cursor: pointer;
}

.resume-button:hover{
  background-color: var(--primary-color);
  font-size: 17px;
  border-radius: 15px;
  cursor: pointer;
}

/*
.popup-container {
  position: absolute;
  background-color: seagreen;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
}

.popup-container.active {
  opacity: 1;
  pointer-events: auto;
  transition: 4s ease;
}

.popup-container .popup-box{
  width: 100px;
  background: white;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding : 30px;
  transform: scale(0);

}

.popup-container.active .popup-box{
    transform: scale(1);
    transition: .4s ease;
    transition-delay: .25s;
}


.popup-box .close-button{
  width: 100px;
  height: 45px;
  background: red;
  border-radius: 10px;
  cursor: pointer;
}
*/

/* end of buttons */

/* box-shadow*/

.card {
  width: 700px;
  height: 550px;
  background: var(--secondary-color);
  border-radius: 10px;
  box-shadow: 0 12px 30px rgba (0, 0, 0, 0.2);
  margin: 60px auto;
  overflow: hidden;

}

.card-header {
  background: rgb(26, 26, 26);
  color: var(--secondary-color);
  padding: 12px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: lowercase;
}

/*end of box-shadow*/

li {
  display: inline;
  padding-left: 14px;
}

p {
    margin: 0px;
    text-align : center;
    font-size : 36px;
}

.lowermenu {
  text-align: right;
}


.text-primary { 
  color: var(--primary-color);
  font-weight : bold;
}

.text-center{
  text-align: center;
  margin-top: 100px;
  padding: 25px;
  color : var(--main);
}

.Copyright-title{
  margin-top : 40px;
  font-size: 10px;
  text-align: center;
  opacity: 0.6;
}


/*theme switch*/

#theme-switch {
  position: fixed;
  top: 20px;
  left: 20px;

  height: 50px;
  width: 50px;
  padding: 0px;
  border-radius: 100%;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;

  transition: color 2s ease-in;
}

#theme-switch svg {
  fill: var(--secondary-color);
}

#theme-switch svg:last-child {
  display: none;
}

.dark-mode #theme-switch svg:first-child {
  display: none;
}

.dark-mode #theme-switch svg:last-child {
  display: block;
}


