
body {
    margin : 30px;
    padding: 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-y: hidden;
    overflow-x: hidden;
    }

.grid-container {
    background-color : #a19d9d;
    max-width: 1500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 300px 300px 300px 300px 300px 300px 300px;
    scroll-snap-type: x mandatory;
}
.grid-container > div {
    background-color: #eee;
    text-align: center;
    padding: 20px 0;
}

