
body {
    margin : 30px;
    padding: 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-y: hidden;
    overflow-x: hidden;
    background: rgb(235, 159, 213);
    }

div.ui-menu li {
  list-style: none;

}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  text-align: center;
}

li {
  display: inline;
  padding-left: 14px;
}

p {
    text-align : center;
}

/* .grid-container {
    background-color : #a19d9d;
    max-width: 1500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 300px 300px 300px 300px 300px 300px 300px;
    scroll-snap-type: x mandatory;
}
.grid-container > div {
    background-color: #eee;
    text-align: center;
    padding: 20px 0;
}

body {
  cursor: url("C:\Users\Joshua Green\Downloads\Wii Cursor.cur"), auto;
}

*/

